cluster.name: {{ es_cluster_name }}
node.name: admin_master_es_{{ inventory_hostname }}
node.attr.rack: admin_master_es_{{ inventory_hostname }}
path.data: /home/{{ admin_user }}/server/elasticsearchMaster/data
path.logs: /home/{{ admin_user }}/server/elasticsearchMaster/logs
bootstrap.memory_lock: true
network.host: {{ansible_default_ipv4['address']}}
http.port: {{ elasticsearch_master_port }}
transport.tcp.port: {{ elasticsearch_master_tcp_port }}
discovery.zen.ping.unicast.hosts: [{% for i in groups['elasticsearchMaster'] %}"{{ i }}:{{ elasticsearch_master_tcp_port }}" {%- if not loop.last %},{% endif -%} {% endfor %}]

# discovery.zen.ping.unicast.hosts: {{ groups['elasticsearchMaster'] | to_json }}
discovery.zen.minimum_master_nodes: {{ groups['elasticsearchMaster'] | length  // 2 + 1 }}
gateway.recover_after_nodes: {{ groups['elasticsearchMaster'] | length  - 1 }}
action.destructive_requires_name: true
node.master: true
node.data: true
