#!/bin/bash

PRG=$0
BASE_PRG=`basename ${PRG}`
BIN=`cd $(dirname $(readlink -f "$PRG")); pwd`
HOME=`dirname "$BIN"`

start() {
    while [ 1 ]
    do
        RET=`ps -ef|grep "/home/{{ admin_user }}/ops/filebeat/filebeat/filebeat.yml"| grep -v "grep"|wc -l`
        if [ ${RET} -ne 1 ]; then
            /home/{{ admin_user }}/ops/filebeat/filebeat/filebeat -e -c /home/{{ admin_user }}/ops/filebeat/filebeat/filebeat.yml -d publish --path.data /home/{{ admin_user }}/ops/filebeat/data/ >/dev/null 2>&1 & 
            sleep 10
        fi
    	sleep 180
    done >/dev/null 2>&1 &
}


stop() {
    echo "stop"
    for i in `ps -ef|grep "filebeat_dog.sh" | grep -v "grep" | awk  '{print $2}'`
    do
        sync
        kill -9 ${i}
    done
}

reload() {
    echo "reload"
}

restart() {
    stop
    sleep 30
    start
}

status() {
    echo "status"
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    reload)
        reload
        ;;
    restart)
        restart
        ;;
    status)
        status
        ;;
    *)
        echo "Usage: { start | stop | reload | restart | status | test }"
        exit 1
esac