-----BEGIN CERTIFICATE-----
MIIDtDCCApwCCQCeeOKIxnAtrjANBgkqhkiG9w0BAQsFADCBmzELMAkGA1UEBhMC
Q04xEDAOBgNVBAgMB1RpYW5qaW4xEDAOBgNVBAcMB1RpYW5qaW4xDjAMBgNVBAoM
BU1vY2hhMRcwFQYDVQQLDA5Nb2NoYSBTb2Z0d2FyZTEZMBcGA1UEAwwQdGVzdDEu
c3NscG9jLmNvbTEkMCIGCSqGSIb3DQEJARYVdGVzdEBtb2NoYXNvZnQuY29tLmNu
MB4XDTE5MDYxNDEwMjkxOVoXDTI5MDYxMTEwMjkxOVowgZsxCzAJBgNVBAYTAkNO
MRAwDgYDVQQIDAdUaWFuamluMRAwDgYDVQQHDAdUaWFuamluMQ4wDAYDVQQKDAVN
b2NoYTEXMBUGA1UECwwOTW9jaGEgU29mdHdhcmUxGTAXBgNVBAMMEHRlc3QxLnNz
bHBvYy5jb20xJDAiBgkqhkiG9w0BCQEWFXRlc3RAbW9jaGFzb2Z0LmNvbS5jbjCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMxQ215q6+ybRtu1wOPrtgFl
VGLBvByVKz+c5GQFe7is6K4ZqGjHH3T1dzmmOKPj4s7T5Iwq8JI2YWgezntbIPnN
KW9A9ZikCJOUH95Pj2Q3CiHIBsMTA2JlnbTrU3D5tPsQ2klpHL8wgtyKztntx29l
rZh9pKIZ+HRINRBaErbPNO2ygY+YGeqRQCEFwKvdyXXYHg9LiBDexqFgTxWFWLR5
M4PE+/d2DvsTBnguntsVCjOcDt2Zo2WMZtrsjo8S95OXK1xXyKm8Hn3/syKgOJcq
Paq8yjtxos4484PA5FrEH3Z+caxoswVxUuwFXG3mSTG2twjIdRAVbt43YGO+M9sC
AwEAATANBgkqhkiG9w0BAQsFAAOCAQEACL5rkGSL5y2qsjON0b4zktg1L0fOSidP
2sKFG769oQV+sVX74hUOwctG22h9Qx38YCQYtuj9yE9KwfPLOPfNHiUeGXHQcgsq
XWaZ5jz5NyZeYBsVEJnYcB4SeNVep0HnPWzbGIpVB4dgl0TJBxFaMz6g7xUl3XnF
3lC7hBErWyR43tMZlX9xO8CIpqWYi6r/4E6DYU82bKxO3i/f3X3Hvv8AowKWfDz6
NCxC2e6yecGdbnIqUr5OsUXlLLyGbQRVJulc/DbG6/P6EvDHDGkVmlYa0S51Pwjx
9jnGEsk+cvggOcH8RGA8whtMEzhsmRLOosnb4/PJ6A+ECV+GtLGg8g==
-----END CERTIFICATE-----
